/* ---RESETS */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ---ROOT VARS */

:root {
  --font: "Figtree", sans-serif;
  --bgPrimary: #1d232a;
  --bgSecondary: #191e24;
  --bgThird: #2a323c;
  --txtPrimary: #ffffff;
  --txtSecondary: #777d89;
  --txtHeading: #a6adbb;
  --accent: #757fff;
  --accentInv: #00cfb9;

  --inspect: solid red 1px;
}

/* ---GLOBAL STYLES */

body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--bgPrimary);
  color: var(--txtPrimary);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page-container {
  padding: 10px 20px;
  max-width: 1280px;
  margin: 0 auto;

  @media only screen and (max-width: 380px) {
    padding: 0 15px;
  }
}

.pad-x {
  padding-right: 60px;
  padding-left: 60px;

  @media only screen and (max-width: 450px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

h2 {
  font-size: 1.75rem;
}

.card-label {
  text-transform: capitalize;
  color: var(--txtHeading);
  font-weight: 600;
}

/* ---NAVBAR COMPONENT */

nav {
  background: var(--bgSecondary);
  padding: 1rem;

  .inner-nav {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }

      & h1 {
        text-transform: capitalize;
        color: var(--txtPrimary);
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.75rem;
      }
    }
    @media only screen and (max-width: 400px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}

/* ---NAV BUTTON COMPONENT */

.nav-btn {
  margin-left: 10px;
  padding: 0.5rem;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--txtPrimary);
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    background-color: var(--bgThird);
  }

  @media only screen and (max-width: 400px) {
    margin-left: 0;
  }
}

/* ---USER SEARCH COMPONENT */

form {
  & input[type="text"] {
    width: 100%;
    max-width: 400px;
    background: rgb(229, 231, 235);
    padding: 15px 10px;
    font-family: var(--font);
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 8px 0 0 8px;
  }

  .search-btn {
    width: 8rem;
    padding: 15px 10px;
    margin-right: 10px;
    border-radius: 0 8px 8px 0;
    border: none;
    text-transform: uppercase;
    background-color: var(--accent);
    color: var(--txtPrimary);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      background-color: #4d10f1;
    }
  }

  .input-error {
    margin-bottom: 10px;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
  }

  .clear-btn {
    margin: 10px 0 0 0;
    display: block;
  }

  @media only screen and (max-width: 600px) {
    & input[type="text"] {
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .search-btn {
      border-radius: 8px;
    }
  }
}

/* ---USER RESULTS COMPONENT */

.grid-container {
  max-width: 1280px;
  margin: 20px auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @media only screen and (max-width: 380px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* ---USER ITEM COMPONENT */

.user-card {
  background-color: var(--bgThird);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 8px 8px 4px var(--bgSecondary);

  & img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  .info-wrapper {
    line-height: 24px;

    .username {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .visit-profile-link {
      color: var(--txtHeading);
      text-transform: capitalize;
      font-size: 0.875rem;
      transition: 250ms ease;

      &:hover {
        color: var(--accent);
      }
    }
  }
}

/* ---USER PAGE */

.userinfo-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }

  & img {
    height: 325px;
    width: 325px;
    border-radius: 20px;
    box-shadow: 8px 8px 4px var(--bgSecondary);

    @media only screen and (max-width: 800px) {
      height: 250px;
      width: 250px;
    }
  }
}

.user-wrapper {
  width: 100%;

  .user-header {
    display: flex;
    align-items: flex-end;
    gap: 12px;

    & h4 {
      font-size: 1.875rem;
    }
    .badge {
      margin-bottom: 5px;
      text-transform: capitalize;
      font-weight: 600;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 0.75rem;
      letter-spacing: 0.5px;
    }
    .badge:nth-child(2) {
      color: lightgreen;
      background-color: green;
    }
    .badge:nth-child(3) {
      color: lightblue;
      background-color: blue;
    }
  }

  .username {
    font-size: 1.125rem;
  }
  .bio {
    font-size: 1rem;
    line-height: 22px;
    margin-top: 20px;
  }
  .github-btn {
    margin-top: 20px;
    display: block;
    width: fit-content;
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--txtPrimary);
    text-transform: uppercase;
    border: solid 1px var(--txtPrimary);
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms ease;

    &:hover {
      color: var(--accentInv);
    }
  }
  .cards-wrapper {
    margin-top: 20px;
    display: flex;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      gap: 2px;
    }
  }
}

.stat-cards-row {
  margin-top: 40px;
  display: flex;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    gap: 2px;
  }
}

/* ---CARD COMPONENT */

.card-container-sm {
  background-color: var(--bgThird);
  width: 100%;
  padding: 15px;
  box-shadow: 8px 8px 4px var(--bgSecondary);
  line-height: 22px;
  border-left: solid white 1px;

  .card-info {
    font-weight: 800;
  }
}

/* ---STATS CARD COMPONENT */

.stats-card-container {
  background-color: var(--bgThird);
  width: 100%;
  padding: 15px 20px;
  box-shadow: 8px 8px 4px var(--bgSecondary);
  line-height: 22px;
  border-left: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .stats-wrapper {
    .stat-num {
      margin-top: 5px;
      font-size: 32px;
      font-weight: 800;
    }
  }

  & figure {
    font-size: 32px;
    color: var(--accent);
  }
}

/* ---REPO LIST COMPONENT */

.repolist-container {
  margin-top: 20px;
  background-color: var(--bgThird);
  width: 100%;
  padding: 20px;
  box-shadow: 8px 8px 4px var(--bgSecondary);
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  & h5 {
    margin-bottom: 10px;
    font-size: 1.375rem;
    text-transform: capitalize;
  }
}

/* ---REPO ITEM COMPONENT */
.repo-item-wrapper {
  background: var(--bgPrimary);
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;

  .repo-link {
    width: fit-content;
    color: var(--txtPrimary);
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    align-items: top;
    gap: 10px;
    transition: 200ms ease;

    &:hover {
      color: var(--accentInv);
    }
  }

  .badge-wrapper {
    margin-top: 10px;
    display: flex;
    gap: 15px;

    .badge-stat {
      margin-bottom: 5px;
      text-transform: capitalize;
      font-weight: 600;
      padding: 3px 5px 2px 5px;
      border-radius: 5px;
      font-size: 0.875rem;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .badge-stat:nth-child(1) {
      background: green;
      color: lightgreen;
    }
    .badge-stat:nth-child(2) {
      background: blue;
      color: lightblue;
    }
  }
}

/* ---NOT FOUND PAGE */

.not-found-page {
  text-align: center;

  .home-btn {
    margin: 20px auto;
    padding: 1rem;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--txtPrimary);
    background-color: var(--accent);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 250ms ease;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: #4d10f1;
    }
  }
}

/* ---FOOTER COMPONENT */

footer {
  background: var(--bgSecondary);
  padding: 1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}

/* ---LOADER COMPONENT */

.loader {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border: solid transparent 1px;
  border-top: solid var(--accent) 5px;
  border-bottom: solid var(--accentInv) 5px;
  border-radius: 50%;
  animation: spin 600ms ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
